<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="~/assets/img/favicon.ico" type="~/assets/image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/style1.css" media="all" />
</head>

<body>
    <div class="wrapper ps-static en-lang-class">
        <div class="page">
            <div class="top-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="top_block">
                                <div class="clear"></div>
                                <div class="top_row">
                                    <form id="search_mini_form" action="#" method="get">
                                        <div class="form-search">
                                            <input type="text" class="input-text" />
                                            <button type="submit" title="Search" class="button"><strong>Ara</strong></button>
                                        </div>
                                    </form>
                                    <div class="nav-container">
                                        <ul id="nav" class="sf-menu sf-js-enabled sf-arrows">
                                            <li class="level0 nav-1 first level-top"><a href="#" class="level-top"><span>Anasayfa</span></a></li>
                                            <li class="level0 nav-2 level-top"><a href="#" class="level-top"><span>Anneler Günü</span></a></li>
                                            <li class="level0 nav-3 level-top"><a href="#" class="level-top"><span>Doğum Günü</span></a></li>
                                            <li class="level0 nav-4 level-top"><a href="#" class="level-top"><span>Seni Seviyorum</span></a></li>
                                            <li class="level0 nav-5 level-top last"><a href="#" class="level-top"><span>Geçmiş Olsun</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header">
                            <div class="header-buttons">
                            </div>
                            <div class="clear"></div>
                            <h1 class="logo">
                                <a href="#">
                                    <img src="~/assets/img/logo.gif" />
                                </a>
                            </h1>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main-container col1-layout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main">
                        <div class="col-main">
                            <div class="padding-s">
                                <div class="std">
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="brands">
                            <a href="#">
                                <img src="~/assets/img/brand1.gif" />
                            </a>
                            <a href="#">
                                <img src="~/assets/img/brand2.gif" />
                            </a>
                            <a href="#">
                                <img src="~/assets/img/brand3.gif" />
                            </a>
                            <a href="#">
                                <img src="~/assets/img/brand4.gif" />
                            </a>
                            <a href="#">
                                <img src="~/assets/img/brand5.gif" />
                            </a>
                            <a href="#">
                                <img src="~/assets/img/brand6.gif" />
                            </a>
                            <a href="#" class="last_brn">
                                <img src="~/assets/img/brand7.gif" />
                            </a>
                        </div>
                        <div class="banners_block">
                            <div class="banner ban1">
                                <div class="ban_img">
                                    <a href="3">
                                        <span></span>
                                        <img src="~/assets/img/banner1.jpg" />
                                    </a>
                                </div>
                                <div class="ban_wrap">
                                    <h2><a href="#">ANNELER GÜNÜ</a></h2>
                                </div>
                            </div>
                            <div class="banner ban2">
                                <div class="ban_img">
                                    <a href="#">
                                        <span></span>
                                        <img src="~/assets/img/banner2.jpg" />
                                    </a>
                                </div>
                                <div class="ban_wrap">
                                    <h2><a href="#">DOĞUM GÜNÜ</a></h2>
                                </div>
                            </div>
                            <div class="banner ban3">
                                <div class="ban_img">
                                    <a href="#">
                                        <span></span>
                                        <img src="~/assets/img/banner3.jpg" />
                                    </a>
                                </div>
                                <div class="ban_wrap">
                                    <h2><a href="#">SEVİ SEVİYORUM</a></h2>
                                </div>
                            </div>
                            <div class="banner ban4">
                                <div class="ban_img">
                                    <a href="#">
                                        <span></span>
                                        <img src="~/assets/img/banner4.jpg" />
                                    </a>
                                </div>
                                <div class="ban_wrap">
                                    <h2><a href="#">GEÇMİŞ OLSUN</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bottom_block">
                        <address>© İzmit Mesleki ve Teknik Anadolu Lisesi</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>