
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/sablon.cshtml";
}

<div class="new_products">
    <div class="page-title category-title">
        <h1>YENİ ÜRÜNLER</h1>
    </div>
    <ul class="products-grid row">
        <li class="item col-xs-3 first">
            <a href="#" class="product-image">
                <img src="~/assets/img/resim1.jpg" />
            </a>
            <div class="product-shop">

                <div class="price-box">
                    <span class="regular-price">
                        <span class="price">49,90 TL</span>
                    </span>
                </div>
                <h3 class="product-name"><a href="#">Romantik Kalpler</a></h3>
                <div class="desc_grid">15 Kırmızı Gül Aranjmanı</div>
                <div class="actions">
                    <button type="button" class="button btn-cart"><span><span>Detay</span></span></button>
                </div>
            </div>
            <div class="label-product">
            </div>
        </li>
        <li class="item col-xs-3 first">
            <a href="#" class="product-image">
                <img src="~/assets/img/resim2.jpg" />
            </a>
            <div class="product-shop">
                <div class="price-box">
                    <span class="regular-price">
                        <span class="price">39,90 TL</span>
                    </span>
                </div>
                <h3 class="product-name"><a href="#">Mutluluk Masalı </a></h3>
                <div class="desc_grid">Lilyum ve Kırmızı Gül Aranjmanı</div>
                <div class="actions">
                    <button type="button" class="button btn-cart"><span><span>Detay</span></span></button>
                </div>
            </div>
            <div class="label-product">
            </div>
        </li>
        <li class="item col-xs-3 first">
            <a href="#" class="product-image">
                <img src="~/assets/img/resim3.jpg" />
            </a>
            <div class="product-shop">

                <div class="price-box">
                    <span class="regular-price">
                        <span class="price">70,70 TL</span>
                    </span>
                </div>
                <h3 class="product-name"><a href="#">Yaz Sürprizi</a></h3>
                <div class="desc_grid">Lisyantus Aranjmanı</div>
                <div class="actions">
                    <button type="button" class="button btn-cart"><span><span>Detay</span></span></button>
                </div>
            </div>
            <div class="label-product">
            </div>
        </li>
        <li class="item col-xs-3 first">
            <a href="#" class="product-image">
                <img src="~/assets/img/resim4.jpg" />
            </a>
            <div class="product-shop">

                <div class="price-box">
                    <span class="regular-price">
                        <span class="price">62,90 TL</span>
                    </span>
                </div>

                <h3 class="product-name"><a href="#">Yeni İş Tebrikli</a></h3>
                <div class="desc_grid">Gerbera ve Papatya Aranjmanı</div>
                <div class="actions">
                    <button type="button" class="button btn-cart"><span><span>Detay</span></span></button>
                </div>
            </div>
            <div class="label-product">
            </div>
        </li>
    </ul>
</div>
